html, body {
    width: 100%;
    background-color: grey;
}
header {
    text-align: center;
}
body {
    text-align: center;
}
footer {
    text-align: center;
}
#content {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 10px;
    background-color: white;
}